.about {
    width: 100%;
    height: auto;
    background-image: url(../images/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.about__container {
    width: 84%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__container-left h4{
    font-size: 0.9rem;
    color: #0669F2;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1.4rem;
}

.about__container-left h1 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 1.4rem;
}

.about__container-left p {
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    color: #7C7C7C;
    line-height: 1rem;
    margin-bottom: 1.4rem;
}

.about__container-left button {
    outline: none;
    background-color: #FD4C5C;
    border-radius: 4px;
    border: none;
    color: aliceblue;
    padding: 0.6rem 1rem;
}

.about__container-right {
    width: 50%;
    height: 80%;
}

.about__container-right img {
    height:auto;
    width: 100%;
}

@media (min-width:0px) and (max-width:480px) {
    .about__container-right {
        display: none;
    }

    .about__container-left h4 {
        padding-top: 1.5rem;
    }

    .about__container-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__container-left button {
        margin-bottom: 1.8rem;
    }
}