.cummunity {
    width: 100%;
    height: 320px;
    background: linear-gradient(90deg, #8C30F5 0%, #FF4B5C 100%);
    display: flex;
    flex-direction: column;align-items: center;
    justify-content: center;
}

.cummunity h1 {
    font-size: 2.5rem;
    color: azure;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 2.8rem;
    margin-bottom: 3rem;
}

.cummunity__label {
    position: relative;
}

.cummunity__label input {
    outline: none;
    border: none;
    border-radius: 4px;
    width: 24rem;
    height: 2.2rem;
    padding-left: 1.5rem;
}

.cummunity__label button {
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 0.5%;
    background-color: #FF4B5C;
    outline: none;
    border: none;
    border-radius: 4px;
    color: azure;
    font-size: 0.6rem;
    padding: 0.4rem 1rem;
}

@media (min-width:0) and (max-width:480px){
    .cummunity {
        height: auto;
        overflow: hidden;
    }
    
    .cummunity h1 {
        width: 80%;
        padding-top: 3rem;
        line-height: 3.2rem;
        color: white;
        font-weight: 500;
    }

    .cummunity__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .cummunity__label input {
        width: 17.5rem;
        padding: 0.8rem 2rem;
        font-size: 0.9rem;
        font-weight: 400;
        border-radius: 6px;
    }

    .cummunity__label button {
        position: relative;
        width: 10rem;
        margin-top: 1rem;
        margin: auto;
        padding: 1rem 0;
        font-size: 0.8rem;
        margin-bottom: 3rem;
    }
}

@media (min-width:1380px) {
    .cummunity {
        height: 340px;
    }
}

@media (min-width:1500px) {
    .cummunity {
        height: 360px;
    }
}

@media (min-width:1700px) {
    .cummunity {
        height: 380px;
    }
}

@media (min-width:1900px) {
    .cummunity {
        height: 420px;
    }
}