.demos__container {
    width: 84%;
    height: 160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.demos__container-items {
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
}

.demos__container-items img {
    height: 4rem;
    width: auto;
}

.demos__container-items-text h4 {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    padding-left: 2rem;
    padding-bottom: 0.7rem;
}

.demos__container-items-text p{
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000B33;
    opacity: 0.7;
    line-height: 1.2rem;
    padding-left: 2rem;
}

@media (min-width:0px) and (max-width:480px) {
    .demos__container {
        overflow: hidden;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
    }

    .demos__container-items{
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .demos__container-items img {
        height: 3rem;
        width: auto;
    }
    .demos__container-items-text h4{
        font-size: 1rem;
    }

    .demos__container-items-text p {
        font-size: 0.8rem;
    }

    .demos__container-items:nth-child(1) {
        margin-top: 3rem;
    }

    .demos__container-items:nth-child(3) {
        padding-bottom: 2rem;
    }
}

@media (min-width:481px) and (max-width:820px) {
    .demos__container-items-text h4 {
        color: aliceblue;
    }

    .demos__container-items-text p {
        color: azure;
    }
}

@media (min-width:1380px) {
    .demos__container {
        height: 180px;
    }
}