.history {
    width: 100%;
    height: 160px;
    background-color: #FBF8FF;
}

.history__container{
    width: 84%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history__container-items {
    width: 8rem;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.history__container-items img {
    height: 50%;
    width: auto;
}

.history__container-items-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.history__container-items-text h1 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.history__container-items-text p {
    font-size: 0.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

 @media (min-width:0) and (max-width:480px) {
    .history {
        overflow: hidden;
        height: auto;    
    }

    .history__container {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .history__container-items {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .history__container-items img {
       width: 2.5rem;
       height: auto;
       padding-bottom: 0.8rem;
    }

    .history__container-items-text h1 {
        padding-bottom: 0.5rem;
    }

    .history__container-items:nth-child(1) {
        margin-top: 3rem;
    }

    .history__container-items:nth-child(4) {
        margin-bottom: 3rem;
    }
} 